aiohttp==3.9.3
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
astroid==3.0.2
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
blinker==1.7.0
blis==0.7.11
boto3==1.34.53
botocore==1.34.53
breadability==0.1.20
bs4==0.0.2
build==1.1.1
CacheControl==0.13.1
cachelib==0.12.0
cachetools==5.3.2
catalogue==2.0.10
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
cohere==4.51
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.4
coverage==6.5.0
coveralls==3.3.1
cryptography==41.0.7
cymem==2.0.8
dataclasses-json==0.6.4
Deprecated==1.2.14
dill==0.3.7
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
dnspython==2.4.2
docopt==0.6.2
email-validator==2.1.0.post1
exceptiongroup==1.2.0
fakeredis==2.21.0
fastapi==0.110.0
fastavro==1.9.4
filelock==3.13.1
firebase-admin==6.3.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.0
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
flask-redis==0.4.0
Flask-Session==0.6.0
Flask-SocketIO==5.3.6
Flask-WTF==1.2.1
flatbuffers==23.5.26
frozenlist==1.4.1
fsspec==2024.2.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.114.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.4.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.60.0
grpcio-status==1.60.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.21.3
humanfriendly==10.0
identify==2.5.33
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.0
jsonpatch==1.33
jsonpointer==2.4
kombu==5.3.5
kubernetes==29.0.0
langchain-community==0.0.25
langchain-core==0.1.28
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.13
limits==3.7.0
llama-index==0.10.15
llama-index-agent-openai==0.1.5
llama-index-cli==0.1.7
llama-index-core==0.10.15
llama-index-embeddings-openai==0.1.6
llama-index-indices-managed-llama-cloud==0.1.3
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.7
llama-index-multi-modal-llms-openai==0.1.4
llama-index-program-openai==0.1.4
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.6
llama-index-readers-llama-parse==0.1.3
llama-index-vector-stores-chroma==0.1.5
llama-parse==0.3.5
llamaindex-py-client==0.1.13
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
mccabe==0.7.0
mdurl==0.1.2
mmh3==4.1.0
mongoengine==0.27.0
mongomock==4.1.2
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
nodeenv==1.8.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.13.3
opencv-python==4.9.0.80
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pillow==10.2.0
platformdirs==4.1.0
pluggy==1.3.0
posthog==3.4.2
pre-commit==3.6.0
preshed==3.0.9
prometheus-flask-exporter==0.23.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
pulsar-client==3.4.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycountry==23.12.11
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
PyJWT==2.8.0
pylint==3.0.3
pymongo==4.6.1
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
pyparsing==3.1.1
pypdf==4.1.0
PyPika==0.48.9
pyproject_hooks==1.0.0
pytest==7.4.4
pytest-asyncio==0.23.4
pytest-mock==3.12.0
python-dateutil==2.9.0
python-docx==1.1.0
python-dotenv==1.0.0
python-engineio==4.9.0
python-pptx==0.6.23
python-socketio==5.11.1
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.2
scikit-learn==1.2.2
scipy==1.13.0
sentence-transformers==2.5.1
sentinels==1.0.0
simple-websocket==1.0.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.27
srsly==2.4.8
starlette==0.36.3
stripe==8.5.0
sympy==1.12
tenacity==8.2.3
thinc==8.2.3
threadpoolctl==3.4.0
tiktoken==0.6.0
tokenizers==0.15.2
tomli==2.0.1
tomlkit==0.12.3
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.18
uuid==1.30
uvicorn==0.27.1
# uvloop==0.19.0
vine==5.1.0
virtualenv==20.25.0
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.3.4
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
XlsxWriter==3.2.0
yarl==1.9.4
zipp==3.17.0
